<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New User</title>
  <link rel="stylesheet" href="/css/addUser.css">
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">ADD NEW USER</h1>

    <form id="adduserform">
      <input type="text" name="User_id"  id="username-field" class="login-form-field" placeholder="User ID">
      <p> </p>
      <input type="text" name="name" id="username-field" class="login-form-field" placeholder="Name">
      <p> </p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <p> </p>
      <button type="submit" id="login-form-submit">Add New User</button>
    </form>
  
  </main>

<%- include('include/footer')%>
