<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientation App</title>
    <link rel="stylesheet" href="admiss.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
          <div style="background-color: FAF3F5;"  class="container-xxl">
            <!-- navbar brand / title -->
            <a class="navbar-brand" href="#Home">
                <img src ="Assets/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
                      </a>
            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a style="color: black;" class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a style="color: black;" class="nav-link" href="admissions.html">Guide</a>
                </li>
                <li class="nav-item">
                  <a style="color:black;" class="nav-link" href="#Map">Map</a>
                </li>
                <li class="nav-item">
                  <a style="color:black" class="nav-link" href="#Welfare">Welfare</a>
                </li>
                <li class="nav-item ms-2 d-none d-md-inline">
                  <a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="login.html">Log Out</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
        <section id = "Guide">
            <div class="container">
              <P> <br> <br> <br> </P>
                <h1 style="color: black; font-family:Inter; font-size: 25px;"  >Hi, Moyo Ajala,  Start Your Orientation Now</h1>
                <P> </P>
                <h1 style="color: 103908; font-family:Inter; font-size: 30px;"  >STEP I: ADMISSIONS</h1>
                <form action="" method="" onsubmit="return false">
                    <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>No.</th>
                              <th>Activities</th>
                              <th>Files</th>
                              <th>Check</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>1</td>
                                <td>Submit Jamb Result Here</td>
                                <td> 
                                    <input type="file" id="jambFile">
                                   
                                </td>
                                <td>
                                    <input type="checkbox" name="admindoc" class="larger" id="jambCheck" required>
                              </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Submit Your WAEC Result Or Any Other Alternative Here</td>
                                <td> 
                                    <input type="file" id="waecFile">
                                    
                                </td>
                                <td>
                                    <input type="checkbox" name="admindoc" class="larger" id="waecCheck" required>
                              </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Submit Your Transcript (University/High School/Transfer)</td>
                                <td> 
                                    <input type="file" name id="tscriptFile">
                            
                                </td>
                                <td>
                                    <input type="checkbox" name="admindoc" class="larger" id="tscriptCheck" required>
                              </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Submit Your Recommendation Letter</td>
                                <td> 
                                    <input type="file" id="rletterFile">
                                
                                </td>
                                <td>
                                    <input type="checkbox" name="admindoc" class="larger" id="rletterCheck" required>
                              </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Submit ID (International Passpoert/ Drivers License/ NIN)</td>
                                <td> 
                                    <input type="file" id="idFile">
                                    
                                </td>
                                <td>
                                    <input type="checkbox" name="admindoc" class="larger" id="idCheck" required>
                              </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Submit Your Personal Essay</td>
                                <td> 
                                    <input type="file" id="pEssayFile">
                              
                                </td>
                                <td>
                                    <input type="checkbox" name="admindoc" class="larger" id="essayCheck" required>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <P> </P>
                        <button type="submit" class="btn btn-primary" onclick="valid()">Submit</button>


                      </div>
                      <p> <br> <br> </p>

                </form>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ADMIN APPROVAL</th>
                      <th>STATUS</th>
                      <th>CHECK</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>OVERALL CHECK</td>
                        <td>APPROVED</td>
                        <td>
                        <label for="radio1"></label>
                        <input type="radio"  class="larger1" name="radios" id="admissionOverall" />
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button class="previous" id="previousa" disabled>Previous</button>
              <a href="finance.html">
                <button class="next" id="nexta">Next</button>
              </a>
              <P> </P>
              <label for="accept">
                <input type="checkbox" id="accept12" onclick="myFunc()")> 
             </label>
        </section>
      </div>
      <script>
        var acc = document.getElementById("jambCheck"); 
        acc.checked = fasle;
        function valid(){
          var vef = document.getElementById("jambFile");
          if(document.getElementById("jambFile").value != ""){
            jambCheck.checked = true;
          }else{
            jambCheck.checked = false;
          }if(document.getElementById("waecFile").value != ""){
            waecCheck.checked = true;
          }else{
            waecCheck.checked = false;
          } if(document.getElementById("tscriptFile").value != ""){
            tscriptCheck.checked = true;
          }else{
            tscriptCheck.checked = false;
          }if(document.getElementById("rletterFile").value != ""){
            rletterCheck.checked = true;
          }else{
            rletterCheck.checked = false;
          }if(document.getElementById("idFile").value != ""){
            idCheck.checked = true;
          }else{
            idCheck.checked = false;
          }if(document.getElementById("pEssayFile").value != ""){
            essayCheck.checked = true;
          }else{
            essayCheck.checked = false;
          }
        }
      </script>
      <script>
        var nextaa = document.getElementById("nexta");
        nextaa.disabled = true;
        var aRadio = document.getElementById("admissionOverall");
        aRadio.checked = false;
        function myFunc() {
        var checkBox = document.getElementById("accept12");
        if (checkBox.checked == true){
          aRadio.checked = true;
          nextaa.disabled = false;
        } else {
          aRadio.checked = false;
          nextaa.disabled = true;

        }
  }
      </script>
       
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
             
