<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>
    <link rel="stylesheet" href="/css/admiss.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
	<nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
	<div style="background-color: FAF3F5;"  class="container-xxl">
	  <!-- navbar brand / title -->
	  <a class="navbar-brand" href="#Home">
		  <img src ="/img/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
				</a>
	  <!-- toggle button for mobile nav -->
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
		  <!-- navbar links -->
		  <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a style="color: black;" class="nav-link" href="/">HOME</a>
			  </li>
			  <li class="nav-item">
				<a style="color: black;" class="nav-link" href="/admissions">GUIDE</a>
			  </li>
			  <li class="nav-item">
				<a style="color:black;" class="nav-link" href="/Map">MAP</a>
			  </li>
			  <li class="nav-item">
				<a style="color:black" class="nav-link" href="/Welfare">WELFARE</a>
			  </li>
			  <li class="nav-item">
				<a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="/">Log Out</a>
			  </li>
			  
			</ul>
		  </div>
		</div>
	  </nav>
	  <section id="congrats">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/congrats.css">
			<div class="contain">
    		<P> <br> </P>
			<div class="congrats">
        <P> </P>
		<h1 style="font-family:Lucida Calligraphy;">Congrat<span class="hide">ulation</span>s !</h1>
        <P> <br> </P>
		<div class="done">
			<svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
<path class="circ path" style="fill:#0cdcc7;stroke:#07a796;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
	/>
<polyline class="tick path" style="fill:none;stroke:#fff;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
	11.6,20 15.9,24.2 26.4,13.8 "/>
</svg>
	</div>
		<div class="text">
		<p style="font-family:Inter; font-weight: bold; font-size: 21;">You Have Successfully Completed Your Registeration</p>
			
			</div>
		<p class="regards" style="font-family:Inter; font-weight: bolder; font-size: 21;">Regards, AUN Orientation Team</p>
        <P> <br> </P>
	</div>
</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="/js/congrats.js"></script>
</body>