<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orientation App</title>
  <link rel="stylesheet" href="/css/info.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script>
    // document.getElementById('#next').setAttribute('disabled','false');
    function test(){
      var firstname = document.getElementById("firstName").value;
      localStorage.setItem("firstNameValue", firstname);

      var lastname = document.getElementById("lastName").value;
      localStorage.setItem("lastNameValue", lastname);

      var middleName = document.getElementById("middleName").value;
      localStorage.setItem("middleNameValue", middleName);

      var major = document.getElementById("major").value;
      localStorage.setItem("majorValue", middleName);
      
      return fasle;
    }
  </script>
</head>
<body>
      <nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
        <div style="background-color: FAF3F5;"  class="container-xxl">
          <!-- navbar brand / title -->
          <a class="navbar-brand" href="#Home">
              <img src ="/img/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
                    </a>
          <!-- toggle button for mobile nav -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/index">HOME</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/admissions">GUIDE</a>
              </li>
              <li class="nav-item">
                <a style="color:black;" class="nav-link" href="/Map">MAP</a>
              </li>
              <li class="nav-item">
                <a style="color:black" class="nav-link" href="/Welfare">WELFARE</a>
              </li>
              <li class="nav-item ms-2 d-none d-md-inline">
                <a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="/index">Log Out</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
      <section id = "addInformationStage">
          <div class="container">
              <h1> <br> </h1>
                <div class="">
                  <P> <br> </P>
                  <h2 style="color: 103908; font-family:Lucida Fax; font-size: 25px; text-align: center;" >Please Fill Additional Information Before You Proceed</h2>
                  <P> </P>
                  <P> </P>
                  <div class="card card border-secondary rounded border border-3">
                      <div class="card-body">                      
                                <form action="" method="POST"  id="infoform" onsubmit="return false">
                                  <div class="form-group">
                                    <label class="now1" for="exampleInputEmail1">StudID:</label>
                                    <input type="text" class="form-control" name="StudID" id="firstName" value="<%- stud.StudID%>" aria-describedby="emailHelp" placeholder="Enter First Name"  readonly>
                                  </div>
                                  <div class="form-group">
                                    <label class="now1" for="exampleInputEmail1">First Name:</label>
                                    <input type="text" class="form-control" name="Firstname" id="firstName" aria-describedby="emailHelp" placeholder="Enter First Name"  required>
                                  </div>
                                  <P> </P>
                                  <div class="form-group">
                                      <label class="now1" for="exampleInputEmail1">Last Name:</label>
                                      <input type="text" class="form-control" name="Lastname" id="lastName" aria-describedby="emailHelp" placeholder="Enter Last Name"  required>
                                  </div>
                                  <P> </P>
                                  <div class="form-group">
                                      <label class="now1" for="exampleInputEmail1">Middle Name:</label>
                                      <input type="text" class="form-control" name="Middlename" id="middleName" aria-describedby="emailHelp" placeholder="Enter Middle Name"  required>
                                  </div>
                                  <P> </P>
                                  <div class="form-group">
                                      <label class="now1" for="exampleInputEmail1">Major:</label>
                                      <input type="text" class="form-control" name="Major" id="major" aria-describedby="emailHelp" placeholder="Enter  Major"  required>
                                  </div>
                                  <P> </P>
                                  <div class="form-group">
                                    <label class="now1" for="exampleInputEmail1">Personal Email:</label>
                                    <input type="email" class="form-control" name="Personalemail" id="pEmail" aria-describedby="emailHelp" placeholder="Enter Personal Email Address"  required>
                                </div>
                                <P> </P>
                                <div>
                                    <label class="now1" for="exampleInputEmail1">Gender:&nbsp;&nbsp;&nbsp;</label>
                              
                                    <input type="radio" id="infoMale" name="Gender" value="Male">
                                    <label for="Male">Male</label>
                                    <input type="radio" id="infoFemale" name="Gender" value="Female">
                                    <label for="Female">Female</label>
                                </div>
                                <P> </P>
                                <div class="form-group">
                                  <label class="now1" for="birthday">Arrival Date:</label>
                                  <p> </p>
                                  <input type="date" class="form-control" id="arrivalDate" name="ArrivalDate"  required>
                                </div>
                                <P> </P>
                                <P> </P>
                                <button type="submit" class="btn btn-primary" id="infoform" onclick="test();">Submit</button>  
                        </form>
                        <P> </P>
                      </div>
                  </div>
                  </div>
                  <P> <br> </P>

                  <P> </P>
                  <a href="/finance?StudID=<%- stud.StudID%>">
                    <button class="next" id="next" disabled="">Next</button>
                  </a>
                  <a href="/viewsteps">
                    <button class="checkst" id="step" >Steps</button>
                  </a>
                  <P> </P>
                </div>
          </div>
      </section>
  

      <%- include('include/_footer')%>
