<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientation App</title>
    <link rel="stylesheet" href="home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
      <div style="background-color: FAF3F5;" class="container-fluid-xxl">
          <nav class="navbar navbar-expand-md navbar-light pt-20 pb-4">
              <div class="container-xxl">
                <!-- navbar brand / title -->
                <a class="navbar-brand" href="#Home">
                    <img src ="Assets/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 10%;padding-left: 15%;">
                          </a>
            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a style="color: black;" class="nav-link" href="#Home">HOME</a>
                </li>
                <li class="nav-item">
                  <a style="color: black;" class="nav-link" href="#Guide">GUIDE</a>
                </li>
                <li class="nav-item">
                  <a style="color:black;" class="nav-link" href="#Map">MAP</a>
                </li>
                <li class="nav-item">
                  <a style="color:black" class="nav-link" href="#Welfare">WELFARE</a>
                </li>
                <li class="nav-item ms-2 d-none d-md-inline">
                  <a style ="margin-top: 6%;" class="btn btn-primary btn-sm" href="#getStarted">Get Started</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
        <section id = "addInformation">
            <div class="container-lg">
                <h1> <br> </h1>
                  <div class="">
                    <h1 style="color: blue; font-family:Lucida Handwriting; font-size: 25px; text-align: center;"  >Please Fill Additional Information Before You Proceed</h1>
                    <P> </P>
                    <P> </P>
                    <div class="card border-2 card border-dark">
                        <div class="card-body py-4">
                          <h4 style="font-family: Inter;" class="card-title">STUDENT DETAILS</h4>
                          <form>  
                            <fieldset>  
                             <legend></legend>
                             First Name: <input type="text" name="firstname"/> <br/>
                             Last Name:  <input type="text" name="lastname"/> <br/>
                             Middle Name:  <input type="text" name="Middlename"/> <br/>
                             Email:  <input type="text" name="lastname"/> <br/>
                             <label for="date">Arrival Date:</label>
                             <input type="date" name="date" id="date" min="2019-06-10">
                             Major:  <input type="text" name="Major"/> <br/>
                             Gender</label><br>
                             <input type="radio" id="gender" name="gender" value="male"/>Male  <br>
                             <input type="radio" id="gender" name="gender" value="female"/>Female  <br>
                             <P> </P>
                             <input type="submit" value="submit">  
                        </fieldset>  
                          
          </section>
    