<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientation App</title>
    <link rel="stylesheet" href="info.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
          <div style="background-color: FAF3F5;"  class="container-xxl">
            <!-- navbar brand / title -->
            <a class="navbar-brand" href="#Home">
                <img src ="Assets/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
                      </a>
            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a style="color: black;" class="nav-link" href="index.html">HOME</a>
                </li>
                <li class="nav-item">
                  <a style="color: black;" class="nav-link" href="admissions.html">GUIDE</a>
                </li>
                <li class="nav-item">
                  <a style="color:black;" class="nav-link" href="#Map">MAP</a>
                </li>
                <li class="nav-item">
                  <a style="color:black" class="nav-link" href="#Welfare">WELFARE</a>
                </li>
                <li class="nav-item ms-2 d-none d-md-inline">
                  <a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="login.html">Log Out</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
        <section id = "addInformationStage">
            <div class="container">
                <h1> <br> </h1>
                  <div class="">
                    <P> <br> </P>
                    <h1 style="color: black; font-family:Inter; font-size: 25px; text-align: center;"  >Please Fill Additional Information Before You Proceed</h1>
                    <P> </P>
                    <P> </P>
                    <div class="card card border-secondary rounded border border-3">
                        <div class="card-body">                      
                                  <form action="results.html" method="POST"  onsubmit="return false">
                                    <div class="form-group">
                                      <label class="now1" for="exampleInputEmail1">First Name:</label>
                                      <input type="text" class="form-control" name="infoFName" id="infoFName" aria-describedby="emailHelp" placeholder="Enter First Name"  required>
                                    </div>
                                    <P> </P>
                                    <div class="form-group">
                                        <label class="now1" for="exampleInputEmail1">Last Name:</label>
                                        <input type="text" class="form-control" name="infoLName" id="infoLName" aria-describedby="emailHelp" placeholder="Enter Last Name"  required>
                                    </div>
                                    <P> </P>
                                    <div class="form-group">
                                        <label class="now1" for="exampleInputEmail1">Middle Name:</label>
                                        <input type="text" class="form-control" name="infoMName" id="infoMName" aria-describedby="emailHelp" placeholder="Enter Middle Name"  required>
                                    </div>
                                    <P> </P>
                                    <div class="form-group">
                                        <label class="now1" for="exampleInputEmail1">Major:</label>
                                        <input type="text" class="form-control" name="infoMajor" id="infoMajor" aria-describedby="emailHelp" placeholder="Enter  Major"  required>
                                    </div>
                                    <P> </P>
                                    <div class="form-group">
                                      <label class="now1" for="exampleInputEmail1">Personal Email:</label>
                                      <input type="email" class="form-control" name="infoEmail" id="infoEmail" aria-describedby="emailHelp" placeholder="Enter Personal Email Address"  required>
                                  </div>
                                  <P> </P>
                                  <div>
                                      <label class="now1" for="exampleInputEmail1">Gender:&nbsp;&nbsp;&nbsp;</label>
                                
                                      <input type="radio" id="infoMale" name="gender" value="Male">
                                      <label for="Male">Male</label>
                                      <input type="radio" id="infoFemale" name="gender" value="Female">
                                      <label for="Female">Female</label>
                                  </div>
                                  <P> </P>
                                  <div class="form-group">
                                    <label class="now1" for="birthday">Arrival Date:</label>
                                    <p> </p>
                                    <input type="date" class="form-control" id="arrivalDate" name="arrivalDate"  required>
                                  </div>
                                  <P> </P>
                                  <P> </P>
                                  <button type="submit" class="btn btn-primary">Submit</button>  
                          </form>
                          <P> </P>
                        </div>
                    </div>
                    </div>
                    <P> </P>
                    <a href="admissions.html">
                      <button class="next" id="next" href="finanace.html">Next</button>
                    </a>
                    <P> </P>
                  </div>
            </div>
        </section>
    