<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientation App</title>
    <link rel="stylesheet" href="login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div style="background-color: FAF3F5;" class="container-fluid-xxl">

<section id="getStarted">
        <div class="container-lg">
            <h1 style= "font-family:Inter; font-size: 55px; text-align: center;" class="page-text">
                <p> <br> <br> </p>
                <span class="page-text1">Orientation</span>
                <span class="page-text2">Guide</span>
              </h1>
            <p> <br> <br> </p>
            <h1 style="color: 103908; font-family:Lucida Handwriting; font-size: 35px; text-align: center;">Welcome to AUN</h1>
            <p> <br> <br> </p>
            <p> <br> </p>
            <form align ="center" action="results.html" method="POST">
                <div>
                    <label for="inputName">FULL NAME: </label>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="fullName" aria-describedby="Full Name" placeholder="Enter Full Name" required>
                </div>
                <p> </p>
                <div>
                    <label for="inputName">ID NUMBER: </label>
                    <input type="" id="idName" aria-describedby="Full Name" placeholder="Enter ID Number" required>
                </div>
            
                <p> <br> </p>
                <button type="submit" class="btn btn-primary" href="info.html">LOG IN</button>
                <p> <br> <br> </p>
                <p> <br> <br> </p>
                <p> <br> <br> </p>
                <P> </P>

              </form>
        </div>
      </section>