<%- include('include/header')%>


<form id="ooadmissionupdate_user" method ="POST">

    <label for="StudID">StudID</label>
    <input type="text" name="StudID" value="<%- stud.StudID%>" ><br>

    <label for="Financevr">Admissionvr</label>
    <input type="text" name="Adminvr" value="<%- stud.Adminvr%>" ><br>

    <button type="submit">Save</button>
</form>

<%- include('include/footer')%>

