<%- include('include/header')%>


<form id="oofinupdate_user" method ="POST">

    <label for="StudID">StudID</label>
    <input type="text" name="StudID" value="<%- stud.StudID%>" ><br>

    <label for="Financevr">Financevr</label>
    <input type="text" name="Financevr" value="<%- stud.Financevr%>" ><br>


    <button type="submit">Save</button>
</form>

<%- include('include/footer')%>

