<%- include('include/header')%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientation App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
    body{
        background-color: beige;
    }
    </style>
</head>

<body>
    <p> <p>
    <div class="container card border-dark" style="margin-top: 10; text-align: center;">
        <h1 style="color: #293a33; font-family: Lucida Fax; font-size: 20px;">Student Activities Verification Stage</h1>
        <p> <p>
            <form id="oofinupdate_user" method ="POST">
                <label for="StudID">Student ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="StudID" value="<%- stud.StudID%>" style="margin-left: 41px;"><br>

                <label for="Financevr">Finance Verification</label>
                <input type="text" name="Financevr" value="<%- stud.Financevr%>" ><br>
                <p> <p>
                    <button type="submit" class="btn btn-primary">Update Now</button>
                <p> <p>
            </form>

<%- include('include/footer')%>

