<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update User</title>
  <link rel="stylesheet" href="/css/addUser.css">
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">UPDATE USER</h1>

    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="User ID">
      <p> </p>
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Full Name">
      <p> </p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <p> </p>
      <input type="submit" value="Update User" id="login-form-submit">
    </form>
  
  </main>
</body>

</html>
</body>