<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Student</title>
  <link rel="stylesheet" href="/css/addUser.css">
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">UPDATE STUDENT</h1>

    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Student ID">
      <p> </p>
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Admissions Verification">
      <p> </p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Finance Verification">
      <p> </p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="IT Verification">
      <p> </p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="OpebErp Verification">
      <p> </p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Housing Verification">
      <p> </p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Health Verification">
      <p> </p>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Student Activities Verification">
      <p> </p>
      <input type="submit" value="Update Student" id="login-form-submit">
    </form>
  
  </main>
</body>

</html>
</body>