<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orientation App</title>
  <link rel="stylesheet" href="/css/admiss.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
      <nav class="navbar fixed-top navbar-expand-md navbar-light pt-2 ">
        <div style="background-color: FAF3F5;"  class="container-xxl">
          <!-- navbar brand / title -->
          <a class="navbar-brand" href="#Home">
              <img src ="/img/oag logo.png" alt="Avatar Logo"  style="width:200px; padding-top: 1%;padding-left: 15%;">
                    </a>
          <!-- toggle button for mobile nav -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a style="color: black;" class="nav-link" href="/admissions">Guide</a>
              </li>
              <li class="nav-item">
                <a style="color:black;" class="nav-link" href="/Map">Map</a>
              </li>
              <li class="nav-item">
                <a style="color:black" class="nav-link" href="/Welfare">Welfare</a>
              </li>
              <li class="nav-item">
                <a style ="margin-top: 6%;" class="btn btn-danger btn-sm" href="/">Log Out</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <P> <br> <br> </P>
    <P> <br> </P>
      <section id = "Welfare">
        <div class="container" style="margin-left: 100px;">
           <H2 style="color: 103908; font-weight: bold; font-family: Lucida Fax; text-align: center;">Schedule For Your Orientation Week</H2>
           <P> <br> </P>
          <div class="card border-dark mb-3" style="max-width: 80rem; background-color: FAF3F5;">
          <div class="card-header" style="font-weight:bold;">DAY 1</div>
          <div class="card-body">
            <h5 class="card-title text-primary" style="font-weight:bold ;">Orienation Around School</h5>
            <p class="card-text" style="color: rgb(8, 41, 190); font-family: Lucida Fax; ">Location: Auditorium<br>Details: A tour Around The Campus For New Students.<br>Time: 5:00PM - 6:00 PM</p>
          </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 80rem; background-color: FAF3F5;">
          <div class="card-header" style="font-weight:bold;">DAY 2</div>
          <div class="card-body text-dark">
            <h5 class="card-title" style="font-weight:bold;">Community Service</h5>
            <p class="card-text" style="font-family: Lucida Fax; ">Location: Meet in front of CC<br>Activity: A Visit To Yola Secondary School To Help Develop The Community.<br>Time: 10:00 AM - 12:00 PM</p>
          </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 80rem; background-color: FAF3F5;">
          <div class="card-header" style="font-weight:bold;">DAY 3</div>
          <div class="card-body text-success">
            <h5 class="card-title" style="font-weight:bold;">Introduction Speech</h5>
            <p class="card-text" style="font-family: Lucida Fax; ">Location: Library Auditorium<br>Activity: Welcome Speech By The President and Faculty.<br>Time: 3:00 PM - 5:00 PM</p>
          </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 80rem; background-color: FAF3F5;">
          <div class="card-header" style="font-weight:bold;">DAY 4</div>
          <div class="card-body text-danger">
            <h5 class="card-title" style="font-weight:bold;">Freshers Pool Party</h5>
            <p class="card-text" style="font-family: Lucida Fax; ">Location: AUN Club House<br>Activity: A Welcoming Party Hosted By The Campus Activity Board.<br>Time: 4:00 PM - 6:30 PM</p>
          </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 80rem; background-color: FAF3F5;">
          <div class="card-header" style="font-weight:bold;">DAY 5</div>
          <div class="card-body text-dark">
            <h5 class="card-title" style="font-weight:bold;">Placement test</h5>
            <p class="card-text" style="font-family: Lucida Fax; ">Location: AUN Business Centre<br>Activity: English Launguage and Mathematics Test For New Students.<br>Time 1:00 PM - 12:00 PM</p>
          </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 80rem; background-color: FAF3F5;">
          <div class="card-header" style="font-weight:bold;">DAY 6</div>
          <div class="card-body text-info">
            <h5 class="card-title" style="font-weight:bold;">Pledge Ceremony (Matriculation) </h5>
            <p class="card-text" style="color: rgb(10, 176, 210); font-family: Lucida Fax; ">Location: Commencement Hall<br>Activity: Swearing In of Newly Inaugurated Students.<br>Time: 10:00 AM - 12:00 AM</p>
          </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>